@model CategoryPageVm

<form>
    <div>
        <input asp-for="Product.ProductName" placeholder="Urun ismi yazınız" />
    </div>

    <div>
        <input asp-for="Product.UnitPrice" placeholder="Fiyat giriniz"/>
    </div>

    <div>
        <select asp-for="Product.CategoryId" asp-items='new SelectList(Model.Categories,"Id","CategoryName")'>
            <option>Lütfen Seciniz</option>
        </select>
    </div>
</form>